<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="steganography secure-image security " />
		<title>{% block title %}{% endblock %}</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static' ,filename='css/main.css') }}"
		/>
		<link
			rel="preload"
			href="../static/css/Agustina.woff"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="shortcut icon"
			href="{{url_for('static',filename = 'images/encrypt/Group 11.png')}}"
			type="image/png"
		/>

		<link rel="stylesheet" href="../static/css/typewriter.css" />
		<style>
			* {
				box-sizing: border-box;
			}
		</style>
		{% block head %}{% endblock %}
	</head>
	<body>
		<nav class="nav-bar">
			<span>
				<div class="logo">
					<a href="/"> < Stenographer /></a>
				</div>
			</span>
			<span>
				<div class="logo">
					<!-- <a href="/"> < Stenographer /></a> -->
				</div>
			</span>

			<span>
				<a href="/about" class="about">About us </a>
			</span>
		</nav>
		<div class="variable-content"> {% block body %} {% endblock %} </div>
		<footer>
			<nav class="nav-bar center">
				<!-- <span class="logo"> </span> -->
				<div class="copyright">Built with ❤ in flask </div>

				<span class="copyright">&copy; SaiYamavaram, 2020 </span>
			</nav>
		</footer>
	</body>
</html>
