{% extends 'base.html' %}{% block title %}Intro{% endblock %} {% block head %}
{% endblock %} {% block body %}
<div class="decription">
	<div class="intro-content">
		<div>
			<div class="best-way">
				An Easier way to Secure Your Data
			</div>
			<span class="three-step">
				Using 3 Step Encryption
			</span>

			<div class="getting-started">
				<a class="button" href="#options">Get Started</a>
			</div>
		</div>
	</div>
	<img
		src="../static/css/download.png"
		alt="securing data image"
		class="secure-img"
	/>
</div>
<div class="how-it-works">
	<div class="largest-font" >How it Works</div>
	<img src="../static/css/flow.png" class="flow" alt="Flowchart image" />
</div>
<div class="action" id="options">
	<h1>Choose Your Action</h1>
	<div class="content">
		<a href="/encryption" class="dark"> Encryption</a>
		<a href="/decryption" class="dark secondary">Decryption </a>
	</div>
</div>
{% endblock %}
